.component {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1.5em;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 4px;

  &_faq {
    color: rgba(217, 217, 217, 1);

    &:hover {
      color: rgba(22, 119, 255, 1);
    }
  }

  &_info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_icon {
    color: rgba(140, 140, 140, 1);
    font-size: 24px;
  }

  &_title {
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
  }

  &:hover {
    border-color: rgba(22, 119, 255, 1);
    color: rgba(22, 119, 255, 1);

    & .component_icon {
      color: rgba(22, 119, 255, 1);
    }
  }
}
