.groupNode {
  position: relative;
  padding-left: 35px;
}

.childrenWrapper {
  position: relative;
  border: 1px dashed #b1b1b1;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.outerSourceHandle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
}

.groupNodeRoot {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 70px;
  height: 70px;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.groupNodeRootContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.groupNodeHeader {
  text-overflow: ellipsis;
}

.groupNodeDeleteButton {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.groupNodeRootActions {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
