.panel {
  width: 100%;
  height: 100%;
  background-color: white;
  border-right: 1px solid lightgray;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.component {
  padding: 2em 1em;
  border-radius: 10px;
  font-size: 24px;
  border: 1px solid lightblue;
}