.node {
  position: relative;
  background-color: white;
  
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.nodeContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.nodeHeader {
  font-weight: bold;
  height: 50%;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
  text-overflow: ellipsis;
}

.nodeFooter {
  width: 100%;
  height: 50%;
  padding: 10px;
  text-overflow: ellipsis;
}

.nodeDeleteButton {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}