.node {
  position: relative;
  background-color: white;
  border: 2px dashed #cccccc;
  border-radius: 5px;
}

.nodeContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}